<app-header></app-header>
<div class="dashboard">
    <div>

    </div>
    <div>
        <div>
            <button (click)='openDialog("bio")'>Bioconductor Deb 9</button>
            <button (click)='openDialog("bio_deb_10")'>Bioconductor Deb 10</button>
            <button (click)='openDialog("win")'>Clean Windows</button>
            <button (click)='openDialog("ubuntu")'>Clean Ubuntu</button>
        </div>
      <app-user-overview></app-user-overview>
      <app-instance-table></app-instance-table>
    </div>

</div>

