<div *ngIf="!isVisible" class="spinner">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
  <div>{{message}}</div>
</div>

<div *ngIf="!goodKeys">
  <button (click)="close()" id="x">X</button>
  <mat-dialog-content>
        <p>You dont have ssh keys</p>
        <p>Go to <a href="https://dashboard.cloud.muni.cz/project/key_pairs" target="_blank">
                https://dashboard.cloud.muni.cz/project/key_pairs </a> to import or create your key</p>
        <p>Or create key here: </p>
        <mat-form-field appearance="outline">
            <mat-label>Key Name</mat-label>
            <input matInput placeholder="" #key>
        </mat-form-field>
        <button (click)="createKey(key.value)">Create Key</button>
        <div *ngIf="this.privateKey != null">
            <h4>Save the key below, you will need it to connect to your VM</h4>
            <textarea style="height:450px ; width:530px">
            {{this.privateKey}}
        </textarea>
            <div>
                <button (click)="continueToMain()">Continue</button>
            </div>
        </div>
    </mat-dialog-content>
</div>

<div *ngIf="isVisible && goodKeys && canAssignIP &&  canCreateMachine && !showFIP">
  <button (click)="close()" id="x">X</button>
  <div>
    <mat-form-field appearance="outline">
                <mat-label>Instance Name</mat-label>
                <input matInput placeholder="" #name>
            </mat-form-field>
  </div>
  <div>
    <mat-form-field>
                <label>Key</label>
                <mat-select matNativeControl [(ngModel)]="selectedKey" name="key">
                    <mat-option *ngFor="let key of this.keys" [value]="key.name">{{key.name}}</mat-option>
                </mat-select>
            </mat-form-field>
  </div>
  <table>
            <tr>
                <td>
                    <mat-form-field>
                        <label>Network</label>
                        <mat-select matNativeControl [(ngModel)]="selectedNetwork" name="network">
                            <mat-option *ngFor="let network of networks" [value]="network.id">{{network.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <p>Dont change defaut network if not needed</p>
                </td>
            </tr>
        </table>
  <div mat-dialog-actions>
    <button (click)="onNoClick(name.value)">Create instance</button>
  </div>
</div>

<div *ngIf="showFIP">
  <button (click)="close()" id="x">X</button>
  <mat-dialog-content>
        <div *ngIf="gotFIP">
            <p>You can access your instance at</p>
            <div>{{floatingIp.name}}</div>
            <div *ngIf="isWindows">
              <p> You can access your Windows instance at port 3389</p>
              <p>Check
                <a href="https://cloud.gitlab-pages.ics.muni.cz/documentation/windows/#licensing" target="_blank">https://cloud.gitlab-pages.ics.muni.cz/documentation/windows/#licensing</a>
              </p>
            </div>
        </div>
        <div *ngIf="!gotFIP">
            <p>Couldnt allocate FIP to instance</p>
            <div>
                go to <a href="https://dashboard.cloud.muni.cz/project/floating_ips/" target="_blank">
                    https://dashboard.cloud.muni.cz/project/floating_ips/ </a>
                and release some FIP, when done try to allocate FIP
            </div>
            <div class="close">
                <button (click)="postFIP()">Allocate FIP</button>
            </div>
        </div>
    </mat-dialog-content>
</div>

<div *ngIf="isVisible && (!canCreateMachine || !canAssignIP)">
  <button (click)="close()" id="x">X</button>
  <div *ngIf="!canCreateMachine ">
    <mat-dialog-content>
      <div *ngIf=" ramLimit > (limit.ram.limit-limit.ram.used)">
        You need {{ramLimit}}MB of ram, you have {{(limit.ram.limit-limit.ram.used)}}MB left</div>
      <div *ngIf="2 > (limit.cores.limit-limit.cores.used)">
        You need 2 cpu cores, you have {{(limit.cores.limit-limit.cores.used)}}left</div>
      <div *ngIf="ramLimit > (limit.ram.limit-limit.ram.used) || 2 > (limit.cores.limit-limit.cores.used) ">
        Please kill some of your machines
      </div>
      <label>Your machines</label>
      <div></div>
      <app-instance-table [hasKillButtons]=true (toBeKilled)="killMachine($event)" ></app-instance-table>
    </mat-dialog-content>
  </div>

  <div *ngIf="!canAssignIP ">
    <mat-dialog-content>
      <div *ngIf="(limit.floating_ips.limit - limit.floating_ips.used) < 1">
        <div>You have no free floating ip left. Please disassociate at least 1 of them</div>
        <label>Your floating ips:</label>
        <table>
          <tr *ngFor="let fip of floatingIPs">
            <td>
              <p>{{fip.name}}</p>
            </td>
            <td>
              <button (click)="disassociateFIP(fip.name)" class="kill">disassociate</button>
            </td>
          </tr>
        </table>
      </div>
      <app-instance-table [hasKillButtons]=true (toBeKilled)="killMachine($event)"></app-instance-table>
    </mat-dialog-content>
  </div>


</div>
